<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/yup.css">
</head>
<body>
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

<!-- Background & animion & navbar & title -->
<div class="container-fluid">
    <!-- Background animtion-->
    <div class="background">
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
    </div>
    <!-- header -->
    <header>
        <!-- navbar -->
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <!-- logo -->
        <!--        <div class="logo"><span>N</span></div>-->
        <!-- title & content -->
        <section class="header-content">
            <h1>Welcome</h1>
            <p> Software vhi banega</p>
            <button>Admin</button>
            <a href="http://127.0.0.1:9000/login"> <button>User</button></a>
        </section>
    </header>
</body>
</html>
